$primary-color: #3A63DE;
$primary-color-hover: #3154BD;
$text-color: #595F69;
$text-color-light: #818386;
$text-color-strong: #333333;
$shadow-color: rgba(77, 77, 77, 0.03);
$white-color: #ffffff;
$input-box-color: #F2F5FA;
$input-box-hover: #e9edef;
$check-box-color: #e4e4e4;

$delete-box-color: #ea4335;
$delete-box-color-hover: #bb362a;
$save-box-color: #20a144;
$save-box-color-hover: #1a8136;
$cancel-box-color: #f3f7fa;
$cancel-box-color-hover: #bfbfbf;
$modal-delete-color: #FD726A;
$border-color: #3A63DE1A;

$select-status-rented: #e9f6ed;
$select-status-rented-text: #20A144;
$select-status-repair: #ffeeed;
$select-status-repair-text: #EA4335;
$select-status-free: #fff9ee;
$select-status-free-text: #FF9054;
$status-free-tenant: #3A63DE0D;
$status-free-tenant-text: #009EB2;

$payment-status-issued: #ffeeed;
$payment-status-issued-text: #EA4335;
$payment-status-partially: #e9f6ed;
$payment-status-partially-text: #20A144;
$payment-status-paid: #fff9ee;
$payment-status-paid-text: #FF9054;

$balance-table-quarter-border: #c8d4f4;
$balance-table-quarter-background: #eceffb;
$balance-table-year-summary-border: #c9d4f6;

$login-page-background:#d8e0f8;